[submodule "external/mustache"]
	path = external/mustache
	url = https://github.com/kainjow/Mustache
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/ImNodes"]
	path = external/ImNodes
	url = https://github.com/thedmd/imgui-node-editor
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
